@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649751687821') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\3448";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-yonghu1:before {
  content: "\e62f";
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-mima:before {
  content: "\e60c";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-badreview:before {
  content: "\e9a3";
}

.icon-badreview-full:before {
  content: "\e9a4";
}

