@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649650666965') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\3448";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-mima:before {
  content: "\e60c";
}

